.button {
    margin: auto;
    margin-top: 7px;
    width: 50%;
}
.buttonGroup {
    display: flex;
    flex-direction: column;
}

.container {
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Form {
    border: 3px solid #B6E8E6;
    border-radius: 10px;
    padding: 20px 30px 20px 30px;
    width: 70vw;
}

.title{
    text-align: center;
}

@media screen and (max-width: 700px){
    .button {
        width: 100%;
    }
    .Form {
        width: 95vw;
        padding: 1vh 30px 1vh 30px;
    }
}
